# Django Settings
DEBUG=False
SECRET_KEY=your-super-secret-key-change-this-in-production
ALLOWED_HOSTS=localhost,127.0.0.1,go-job-queue-django.onrender.com

# Database Configuration
DATABASE_URL=postgresql://user:password@host:5432/jobqueue

# Redis Configuration (for Celery)
REDIS_URL=redis://localhost:6379/0

